<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongik.ce.f23.team1.screw.crew.repository.mapper.CrewMapper">
  <resultMap id="crewResult" type="com.hongik.ce.f23.team1.screw.crew.domain.Crew">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <association property="crewOption"
      javaType="com.hongik.ce.f23.team1.screw.crew.domain.CrewOption">
      <result property="maximumMember" column="maximum_member"/>
    </association>
    <collection
      property="tags"
      ofType="com.hongik.ce.f23.team1.screw.crew.domain.Tag"
      resultMap="tagResult"
      columnPrefix="tag_"
    />
  </resultMap>

  <resultMap id="tagResult" type="com.hongik.ce.f23.team1.screw.crew.domain.Tag">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
  </resultMap>

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into crew (name, description, maximum_member, created_at, updated_at)
    values (#{name}, #{description}, #{crewOption.maximumMember}, now(), now())
  </insert>

  <select
    id="findAll"
    resultMap="crewResult"
  >
    select c.id             as id,
           c.name           as name,
           c.description    as description,
           c.maximum_member as maximum_member,
           t.id             as tag_id,
           t.name           as tag_name
    from crew c
           left join crew_tag ct on c.id = ct.crew_id
           inner join tag t on ct.tag_id = t.id
  </select>


  <select
    id="findById"
    resultMap="crewResult"
  >
    select c.id             as id,
           c.name           as name,
           c.description    as description,
           c.maximum_member as maximum_member,
           t.id             as tag_id,
           t.name           as tag_name
    from crew c
           left join crew_tag ct on c.id = ct.crew_id
           inner join tag t on ct.tag_id = t.id
    where c.id = #{id}
  </select>


</mapper>
